a{
    text-decoration: none;
    font-size: 1.5em;
    margin-inline: 10px;
    color: tomato
}
a:hover{
    color:gray;
}
body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    color:gray;
}
h2{
    color:gray;
}
h3{
    color:gray;
}
article{
    color:gray;
}
p{
    color: gray;
}
#TL{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: tomato;
}
#CR{
    font-size: 4em;
    color: tomato;
}
#Rooster{
    font-size: 4em;
    color: tomato;
}
.info{
    font-style: italic;
    font-size: 3.5em;
    margin: 50px;
}
#Logo{
    width: 35%;
    margin: auto;
    display: block;
}
article{
    font-size: 2em
}